@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
    overflow-x: hidden;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
}

img {
    width: 200px;
    height: 150px;
}

.grid-container > div {
    text-align: center;
}

.fa-shopping-cart {
    float:right;
    padding-right:18px;
    font-size:20px !important;
    padding: 10px 17px;
    cursor:pointer;
}

.fa-plus-circle {
    cursor:pointer;
    font-size:12px !important;
}

.fa-minus-circle {
    cursor:pointer;
    font-size:12px !important;
}

.card-title {
    margin:0px;
    font-size:16px;
}

.header { 
    grid-area: header; 
    background-color: blanchedalmond;
}
.page-title { 
    grid-area: main; 
    font-size:20px;
}
.products { grid-area: footer; }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    text-align: center;
    float: left;
    margin:10px;
}

.header { grid-area: header; }

.title {
    color: grey;
    font-size: 14px;
    margin:0px
}

.add-to-cart-btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    margin:0px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

.add-to-cart-btn:hover, a:hover {
    opacity: 0.7;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:#e6e3dd;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.center-text {
    text-align: center;
}

.clear-cart-btn {
    background-color: #ef9d51;
    color:black;
    position: absolute;
    left:33%;
    cursor: pointer;
}

.cart-item-image {
    width: 100px;
    height: 88px;
    float:left;
    padding-left: 10px;
    padding-right: 15px;
}

.remove-item-btn {
    color: #878583;
    background-color:#e6e3dd;
    border:none;
    padding-left: 0px;
    cursor:pointer;
}

.product-detail {
    font-size:12px;
}

.cart-value {
    font-size: 12px;
    font-weight: 900;
    position: sticky;
    border: solid#ef9d51;
    border-radius: 20%;
    width: 14px;
    background:#ef9d51;
    left:97%;
    color:white;
}
